{% extends "base.html" %}
{% block content %}
  <h1>{{ title }}</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      {{ form.title.label_tag }}<br>
      {{ form.title }}          {# Django escapes field values by default #}
      {{ form.title.errors }}
    </div>
    <div>
      {{ form.author.label_tag }}<br>
      {{ form.author }}
      {{ form.author.errors }}
    </div>
    <button type="submit">Save</button>
  </form>
{% endblock %}
